<% include partials/header %>
<h1>sign up form</h1>

<form action="/register" method="POST">
    <input type="type" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign up!!</button>
</form>

<li><a href="/register">sign up</li>
<li><a href="/login">login</li>
<li><a href="/logout">logout</li>
<% include partials/footer %>